{% extends "lescadplatformeBundle::layout.html.twig" %}

{% block titre %}
    {{ formation.nom|upper }} - {{ parent() }}
{% endblock %}
{% block css %} 
    {{ parent()}} <link href="{{asset('bundles/lescadplatforme/css/formation.css')}}" rel="stylesheet">
{% endblock %}

{% block baniere %}
        <div>
            <img src="{{ vich_uploader_asset(formation, 'fichierBanniere')| imagine_filter ( 'ban4' ) }}" alt="{{ formation.nom }}" style="width:100%; padding-top:51px; padding-bottom: 10px;">     
        </div>
    {% endblock %}

{% block lescadplatforme_body %}
    <div class="container">

        <div class="row">

            {#<div class="col-md-3 col-sm-4 prin">

                {% include "lescadplatformeBundle:plateforme:formations_categories.html.twig" %}

                {% block userleft %}
                {% endblock userleft %}
            </div>#}


            <div class="col-sm-8 prin">
                {#<h2 class="title">Parcourez toutes nos formations</h2>#}




                {% if formation is null %}
                    <h1>Il n'y a aucune formation dans cette categorie pour le moment</h1>
                {% else %}


                {% endif %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <h1 class="text-center"><b>{{ formation.nom|upper }}</b></h1><hr/>

                            <p>{{ formation.description }}</p>
                            <p><strong>Durée : </strong>{{ formation.dureereel }}.</p>
                            <p><strong>Matières : </strong>
                            <ul>
                                {% for matiere in formation.matieres %}
                                    <li>{{ matiere.nom }} ({{ matiere.duree }} heures)</li>
                                    {% endfor %}
                            </ul>
                            </p>
                            <p><strong>Pré-réquis : </strong><br/>{{ formation.prerequis }}</p>
                            <p><strong>Prix : </strong>{{ formation.cout }}</p>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <div class="more label"><a href="{{ path('admin_lescad_platforme_formation_edit', { 'id': formation.id }) }}">Modifier</a></div> 
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-sm-4 prin">
                <div class="well">
                    <div class="page- text-center">

                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="flash-{{ type }}">
                                        <h3> {{ message }}</h3><hr/>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        <h4> Demander cette formation </h4>
                    </div>
                    {{ form(form) }}

                </div>
            </div>

        </div>
    </div>
{% endblock %}
